data_definition.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence minOccurs="20" maxOccurs="unbounded">
                <xs:element name="row">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date" type="xs:date"/>
                            <xs:element name="temperature">
                                <xs:simpleType>
                                    <xs:restriction base="xs:decimal">
                                        <xs:minInclusive value="-20.0"/>
                                        <xs:maxInclusive value="10.0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="quality">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="0"/>
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="9"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:nonNegativeInteger"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
