test-prep/krzesla.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="colorType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="Red"/>
        <xs:enumeration value="Black"/>
        <xs:enumeration value="White"/>
        <xs:enumeration value="Brown"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="wardrobeType">
        <xs:sequence>
            <xs:element name="door" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:integer" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="color" type="colorType" use="required"/>
    </xs:complexType>

    <xs:element name="flat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="diningRoom">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="chair" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="color" type="colorType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="table">
                                <xs:complexType>
                                    <xs:attribute name="color" type="colorType" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="bedroom">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="wardrobe" type="wardrobeType" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="hall">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="wardrobe" type="wardrobeType" minOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>